// Part of arendelle file.

.h-std-card {
  border: none;
  border-radius: 20px;
  box-shadow: 15px 15px 30px rgba(22, 40, 87, 0.2);
}

.h-shadow-light  {
  box-shadow: 0 0 20px rgba(121, 137, 184, 0.2);
}
